<%- include("header") -%>

    <div class="box">
      <h1 id="heading">It's <%= listTitle %></h1>
    </div>

<div class="box">
  <% for (var i=0; i< newListItems.length; i++) { %>
    <div class="item">
      <input type="checkbox" class="check-box">
        <p><%= newListItems[i] %></p>
    </div>
   <% } %>

   <form class="item" id="last" action="/" method="post">
     <input class="newItem" type="text" name="newItem" placeholder="New Item" autocomplete="off">
     <button class="btn" type="submit" name="list" value=<%= listTitle %> >+</button>

<%- include("footer")-%>
